
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family: 'Lato', sans-serif;  
}

.row{
  width: 100%;
}

.menu-title{
  text-align: center;
  margin-bottom: 30px;
}

.container{
 position: relative;
 top:60px;
 margin: 15px; 
}

.item{
  position: relative;
  top: 0;
  background-color:#999999;
  margin: 15px;
  padding: 25px;
  border: 3px solid #000;
}

.item p{
  margin-top: 18px;
  text-align: justify;
  font-size:100%;
}

.item-title{
  position: absolute;
  top:0;
  right: 0px;
  background: green; 
  padding: 6px 90px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

#title-one {
  background-color: #D59898;
} 

#title-two{
  background-color: #C14543;
}

#title-three{
  background-color: #E5D198;
}

/* Simple Responsive Framework. */
/*------ Desktop ------*/
@media (min-width: 992px){
  .M416 {
    float: left;  
  }
 
  .M416 {
    width: 33.33%;
  }


}


/*------ Tablet ------*/
@media (min-width: 768px) and (max-width: 991px){
  .M416 {
    width: 50%;
    float: left;
  }
  .col-lg-tablet{
   width: 100%;
   float: left;
 }
}


/*------ Mobile ------*/
@media (max-width: 767px){
  .M416{
    width: 100%;
    float: left;
  }
}
